.game-board {
    display: grid;
    grid-template: repeat(3,1fr) /repeat(3,1fr);
    height: 200px;
    width: 200px;
    justify-items: stretch;
    justify-content: space-evenly;
    align-content: center;
}